.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blink {
  animation: blink 2s;
}

@keyframes blink {
  0% {
    background-color: white;
  }

  50% {
    background-color: blueviolet;
  }

  100% {
    background-color: white;
  }
}
